.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: calc(100vh - 70px);
  background: var(--dark-blue);
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  color: var(--white);
}
