.container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container{
  width: 80%;
  background: white;
  outline: 5px solid var(--darker-blue);
  border-radius: 10px;
  color: var(--grey);
}

header{
  width: 100%;
  background: var(--pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}

.subtasks-container{
  width: 100%;
  height: 300px;
  padding: 10px;
}
.subtasks-container p {
  text-decoration: underline;
  font-size: 1.2rem;
}
.subtasks{
  margin: 5px 0;
}
.checkbox{
  width: 10px;
  height: 10px;
  padding: 0 2px;
  color: white;
  background: white;
  border-radius: 5px;
  outline: 2px solid var(--grey);
  margin: 0 10px;
}
.checkbox.checked{
  color: limegreen;
}

.info-container{
  margin: 10px;
  padding: 10px;
}
.info-container p{
  margin: 0;
}

footer{
  width: 100%;
  height: 30px;
  background: var(--green);
}
