*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 100%;
  background: var(--blue);
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x:hidden;
  position: relative;
}

.input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 15px;
}

.input-text{
  width: 100%;
  height: 40px;
  padding-left: 10px;

  color: var(--darker-blue);
  border: 3px solid var(--dark-blue);
  border-radius: 7px;
  background: rgba(255,255,255,0.3);
  outline: none;
}
.input-button{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
.input-button fa-icon{
  color: var(--darker-blue);
  font-size: 35px;
}
.tasks-container{
  height: 100%;
  margin: 15px;
}
.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin: 10px 0;

  background: var(--pink);
  border-radius: 5px;
  text-decoration:none;
  list-style: none;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);

  color: var(--grey);

  font-size: 17px;
}
.task:hover{
  transform: translate(-5px, -5px);
  z-index: 10;
  box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.1);
}

input[type=checkbox]{
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #999;
  border-radius: 5px;
}
input[type=checkbox]:checked{
  background: var(--green);
}
@keyframes slideOut{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(200%);
  }
}
.completed{
  color: #888;
  animation: 1s slideOut ease-out;
}
.completed.check{
  color: rgb(46, 187, 46);
}
.deleted{
  animation: 1s slideOut ease-out;
}

fa-icon{
  color: var(--dark-blue);
  cursor: pointer;
  margin: 0 5px;
}
.check{
  color: #ddd;
  font-size: 15px;
  border: 2px solid grey;
  border-radius: 5px;
  background: #ddd;
  padding: 0 5px;
  margin-right: 10px;
}
span{
  margin-right: auto;
}
