:root{
    --dark-blue: #25233B;
    --white: #dbd5ff;
    --green: #00E24A;
    --blue: #393359;
}

body{
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    font-family: 'Concert One', sans-serif;
}

fa-icon{
  color: var(--white);
  cursor: pointer;
}
