:root{
    --blue: #96D7EB;
    --dark-blue: #7697B3;
    --darker-blue: #3e5e7a;
    --green: #DFFFD8;
    --pink: #ffb5cb;
    --grey: #666;
}

body{
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    font-family: 'Concert One', sans-serif;
}

fa-icon{
  color: var(--dark-blue);
  cursor: pointer;
}
