:root{
    --dark-blue: #25233B;
    --blue: #393359;
    --white: #dbd5ff;
    
    --green: #39da8a;
    --red: #ff5d5b;
    --orange: #fdac41;
    --cyan: #74dfe5;
    --purple: #ac5cd9;
}

body{
    background: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    font-family: 'Concert One', sans-serif;
}

fa-icon{
  color: var(--white);
  cursor: pointer;
}
