.nav-container{
  background: var(--pink);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

fa-icon{
  margin: 0 50px;
  color: var(--dark-blue);
  font-size: 25px;
  cursor: pointer;
}
